.editNav
{
    border-top: 2px red solid;
}
nav ul li a
{
    color: gray !important;
}
nav ul li a::hover
{
    color: black ;
    background-color: red;
    font-size: 50px;
}
nav ul li .editBtn
{
    background-color: tomato;
    color: white !important;
}

/* start header */
#headerBg
{
    background-image: url(../images/img5.jpg);
    height: 500px;
    background-size: 100% 100%;
}
#headerBg .overLayHader
{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.caption
{
    background-color: rgba(0, 0, 0, 0.4);
    border-left: 2px tomato solid;
}
.caption p
{
    color: gray;
}
/* start about sec */
#about
{
    background-color: rgb(223, 213, 213);
}

/* start offer sec */
#offers h5 , #offers i 
{
    color: rgb(121, 121, 189);
}
#offers h5 
{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0px;
    padding-top: 5px;
}
 /* start banner */
 #banner
 {
     background-color: #35383f;
     color: white;
 }
 #banner h6 
 {
     margin-left: 14rem;

 }
 #banner p 
 {
     color: rgb(184, 219, 230);
     letter-spacing: -1px;
     margin-left: 5px;
 }
 #banner i 
 {
     color: tomato;
     
 }
 
 /* end */
 .legal
 {
     background-color: #353a40;
    color: white;
 }
 .legal p 
 {
    color: rgb(184, 219, 230);
 }
 .legal h6 
 {
    color: rgb(184, 219, 230);
 }

 /* start footer */

 #footer
 {
     background-color: rgb(43,43,43);
     color: #3d4047;
 }